.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #0C1F42;
    color: #fff;
  }
  
  .navbar__left h1 {
    margin: 0;
  }
  
  .navbar__right button {
 
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  
  }
  
  .navbar__right button a{
    text-decoration: none;
    color: #fff;
  }

  .navbar__right button:hover {
    background-color: #0056b3;
  }
  
